<div class="font">
    <div class="background_box">
        <div class="card-img-overlay">
            <div class="text-center">
                <h1 class="card-title overlayText">Behind the lens</h1>
            </div>
        </div>
    </div>


    <div class="container aboutsection ">
        <div class="aboutSection1 p-2">
            <div class="row">
                <div class="col-md-6 col-6 albums1">
                    <div class="card text-bg-dark">
                        <img src="../assets/viktoriaPictures/about.webp" class="card-img albumimg w-100 img-fluid" alt="...">
                    </div>
                </div>
                <div class=" col col-md-6 col-6 albums2 aboutText">
                    <h1 class="text-center "> A little bit about me</h1>
                    <p>I am almost always overwhelmed at how beautiful and simple life can be simultaneously. I had a nomadic childhood and met so many people along the way. I believe this gave me an incredible ability to meet them. I absolutely wear my
                        heart on my sleeve and am forever falling in love with the people I meet. I chat to everyone, I love to talk and to find out as much as I can about each person. I find people to be fascinating.
                    </p>
                    <p>The things that light my SOUL on fire - traveling to new places, the view at the end of a hike, road trips without a plan, making authentic connections.</p>

                    <figure class="text-center">
                        <blockquote class="blockquote">
                            <p>A thing that you see in my pictures is that I was not afraid to fall in love with these people.</p>
                        </blockquote>
                    </figure>
                </div>
            </div>
        </div>


        <h1 class="text-center">What fuels me</h1>

        <div class="d-flex align-items-start m-2 p-2 navPills justify-content-between">
            <div class="row navpillstext1 ">
                <div class="col-3" id="textposition">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Love</button>
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">People</button>
                        <button class="nav-link" id="v-pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#v-pills-disabled" role="tab" aria-controls="v-pills-disabled" aria-selected="false">My dog</button>
                        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Travel</button>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" tabindex="0">
                    <div class="row navpillstext1 justify-content-between">
                        <div class="col-4">
                            <img class="aboutImages  w-100 shadow-1-strong rounded mb-4 img-fluid" src="../assets/igorPicture/wedding18.jpg" alt="">
                        </div>
                        <div class="col-5" id="textposition">
                            <p class="h2 text-center">Love</p>
                            <p class="text-center">Working with so many couples with big weddings and being one of the few people they can truly vent to as all the planning is going down. I knew I could it better.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                    <div class="row navpillstext1 justify-content-between">
                        <div class="col-4">
                            <img class="aboutImages w-100 shadow-1-strong rounded mb-4 img-fluid" src="../assets/viktoriaPictures/1.jpeg" alt="">
                        </div>
                        <div class="col-5" id="textposition">
                            <p class="h2 text-center">People</p>
                            <p class="text-center">Since I remember, I’ve always loved taking pictures of people. The reason why I love taking pictures of people so much is that through a simple photograph I try to bring out the true essence of the person in front of me.</p>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel" aria-labelledby="v-pills-disabled-tab" tabindex="0">
                    <div class="row navpillstext1 justify-content-between">
                        <div class="col-4">
                            <img class="aboutImages  w-100 shadow-1-strong rounded mb-4 img-fluid" src="../assets/viktoriaPictures/dog.png" alt="">
                        </div>
                        <div class="col-5" id="textposition">
                            <p class="h2 text-center">My dog</p>
                            <p class="text-center">I love my dog! What can I add? </p>
                            <p class="text-center">A dog will teach you unconditional love. If you can have that in your life, things won't be too bad.</p>
                        </div>
                    </div>
                </div>


                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab" tabindex="0">
                    <div class="row navpillstext1 justify-content-between">
                        <div class="col-4">
                            <img class="aboutImages  w-100 shadow-1-strong rounded mb-4 img-fluid" src="../assets/viktoriaPictures/travel.jpg" alt="">
                        </div>
                        <div class="col-5" id="textposition">
                            <p class="h2 text-center">Travel</p>
                            <p class="text-center">I have a thirst for adventure and love experiencing new places and people. Travel gives me distance from our live and allows me to return home full of gratidute , perspectives , stories , and memories.</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>

        <!-- Connect to the Contanct Component  -->
        <button type="button" class="btn btn-link" routerLink="/contact">Get in touch</button>
    </div>
</div>