<nav id="nav" class="navbar navbar-expand-lg bg-light justify-content-between d-flex bg-transparent">

    <div class="webname">
        <a class="nav-link active text-white rounded" routerLink="">Behind the lens</a>
    </div>

    <div class="padd">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">


      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white rounded" routerLink="/about">About</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white rounded" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </a>

                    <ul class="dropdown-menu bg-transparent border-0 ">
                        <li><a class="dropdown-item text-white a rounded" routerLink="/couples">Couples</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/people">People</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/travel">Travel</a></li>
                        <li><a class="dropdown-item text-white a rounded" routerLink="/dogs">Dogs</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white rounded" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">

                    <a class="nav-link text-white rounded" routerLink="/shop">Book now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white rounded" routerLink="/cart"> <span><i class="fa-solid fa-cart-plus"></i></span></a>
                </li>
            </ul>
        </div>
    </div>


</nav>