<div class="background_box">
    <h1 class="text-center">Portraits</h1>
</div>


<div class="container">
    <!-- Gallery -->
    <!-- first gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="../assets/viktoriaPictures/8.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/1.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/10.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/14.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../assets/viktoriaPictures/2.webp" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/9.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/6.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/11.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/14.webp" class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="../assets/viktoriaPictures/4.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/7.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/5.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/12.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="" />

            <img src="../assets/viktoriaPictures/15.png" class="w-100 shadow-1-strong rounded mb-4" alt="" />


        </div>
    </div>