<div class="container text-center albumsstyling">
    <div class="row">
        <div class="col albums1">
            <div class="card text-bg-dark cursorLink1" routerLink="/dogs">
                <img src="https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" class="card-img albumimg" alt="...">
                <div class="card-img-overlay">
                    <div class="position-absolute bottom-0 start-50 translate-middle-x">
                        <!-- Connect to album-igor-component -->
                        <h5 class="card-title cursorLink" routerLink="/dogs">Dogs</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col albums2">
            <div class="card text-bg-dark cursorLink1" routerLink="/travel">
                <img src="https://images.pexels.com/photos/2033343/pexels-photo-2033343.jpeg?cs=srgb&dl=pexels-jason-toevs-2033343.jpg&fm=jpg" class="card-img albumimg" alt="...">
                <div class="card-img-overlay">
                    <div class="position-absolute bottom-0 start-50 translate-middle-x">
                        <!-- Connect to album-dusan-component -->
                        <h5 class="card-title cursorLink" routerLink="/travel">Travel</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>