<div class="background_box">
    <div class="card-img-overlay">
        <div class="text-center">
            <h1 class="card-title overlayText">Choose your experience with us</h1>
        </div>
    </div>
</div>

<div class="container ">

    <div class="row justify-content-center p-3 ">
        <div *ngFor="let product of products;" class="col-6 mb-3">
            <div class="card mx-auto" style="width: 20rem; box-shadow: 0 2px 3px black;">
                <img src="{{product.img}}" class="card-img-top" style="height: 12rem;">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{product.price | currency:"EUR"}}</li>

                </ul>

                <div class="card-body ">
                    <div class="d-flex gap-3">

                        <button type="button" class="btn buttonColor btn-block btn-lg" (click)="addToCart(product)">Order</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>