<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="album-igor.component.css">
</head>

<body>
    <div class="background_box">
        <h1 class="text-center">Weddings and Couples</h1>
    </div>
    <div class="pictures">
        <img src="assets/igorPicture/pic4.jpg" alt="">
        <img src="assets/igorPicture/pic5.jpg" alt="">
        <img src="assets/igorPicture/pic6.jpg" alt="">
        <img src="assets/igorPicture/pic15.jpg" alt="">
        <img src="assets/igorPicture/pic21.jpg" alt="">
        <img src="assets/igorPicture/pic22.jpg" alt="">
        <img src="assets/igorPicture/pic26.jpg" alt="">
        <img src="assets/igorPicture/pic27.jpg" alt="">
        <img src="assets/igorPicture/pic30.jpg" alt="">
        <img src="assets/igorPicture/wedding18.jpg" alt="">
        <img src="assets/igorPicture/wedding16.jpg" alt="">
        <img src="assets/igorPicture/wedding19.jpg" alt="">
        <img src="assets/igorPicture/wedding21.jpg" alt="">
        <img src="assets/igorPicture/wedding25.jpg" alt="">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>

</html>